.row
  .col-md-12.col.lg-12
    = form_tag '#', id: 'import' do
      .form-group
        %h2 Import stations data
      .form-group
        This feature will import a GTFS stops file containing sample public transport stops, including geographic
        position.
      .form-group
        .col-md-6.col-lg-6
          = file_field_tag :file, name: :stops_file
        .col-md-6.col-lg-6
          = button_tag id: :replace, type: :button, class: 'btn btn-default' do
            Replace GTFS stops
          = button_tag id: :append, type: :button, class: 'btn btn-default' do
            Append GTFS stops
          = button_tag id: :clear, type: :button, class: 'btn btn-default' do
            Clear all GTFS stops
.row
  .col-md-6.col-lg-6
    = form_tag id: 'search' do
      .form-group
        %h2 Search closest stations
      .form-group
        = hidden_field_tag :latitude, 0, id: :latitude
        = hidden_field_tag :longitude, 0, id: :longitude
        = render 'widgets/googlemap', style: 'padding-top: 100%; position: relative', zoom: 6, label: 'Reference Point', lat_field: '#latitude', lng_field: '#longitude'
      .form-group.text-center
        = button_tag id: :search, class: 'btn btn-default' do
          Search top 5 closest stops
  .col-md-6.col-lg-6{style: 'padding: 10px'}
    %ul#results
- content_for :js_footer do
  :javascript
    $(function() {
      $('#replace').click(function(e) {
        if (confirm("You are about to REPLACE the whole GTFS Stops records. Are you sure?")) {
          $.ajax({type: "POST", url: 'import?replace=true', data: new FormData($("#import")[0]), processData: false, contentType: false}).done(function() {
            alert("GTFS Stops data was successfully replaced");
          }).fail(function() {
            alert("There was an internal error when trying to replace the GTFS Stops data");
          });
        }
        e.preventDefault();
      });
      $('#append').click(function(e) {
        if (confirm("You are about to append these records to the GTFS Stops data. Are you sure?")) {
          $.ajax({type: "POST", url: 'import?append=true', data: new FormData($("#import")[0]), processData: false, contentType: false}).done(function() {
            alert("GTFS Stops data was successfully appended");
          }).fail(function() {
            alert("There was an internal error when trying to append records to the GTFS Stops data");
          });
        }
        e.preventDefault();
      });
      $('#clear').click(function(e) {
        if (confirm("You are about to CLEAR THE WHOLE GTFS Stops data. Are you sure?")) {
          $.post('import?clear=true').done(function() {
            alert("GTFS Stops data was successfully cleared");
          }).fail(function() {
            alert("There was an internal error when trying to clear the whole GTFS Stops data");
          });
        }
        e.preventDefault();
      });
      $("#search").click(function() {
        $("#results").empty();
        $("#results").append($('<li/>').text("Loading..."));
        $.post('search').done(function(data) {
          $("#results").empty();
          if (data.length) {
            data.forEach(function(element) {
              $("#results").append($('<li/>').text(element.name + ' @ lat:' + element.latitude + ' lng: ' + element.longitude));
            });
          } else {
            $("#results").append($('<li/>').text("No results - GTFS Stops data is empty"));
          }
        }).fail(function() {
          alert("There was an internal error when trying to search among the whole GTFS Stops data");
        });
      });
    });