.row
  .col-md-12.col.lg-12
    = form_tag id: 'import' do
      .form-group
        %h2 Import stations data
      .form-group
        This feature will import a GTFS stops file containing sample public transport stops, including geographic
        position.
      .form-group
        .col-md-6.col-lg-6
          = file_field_tag :file, name: :stops_file
        .col-md-6.col-lg-6
          .btn-group{role: 'group', aria:{label: 'Actions'}}
            = button_tag id: :replace, class: 'btn btn-secondary' do
              Replace GTFS stops
            = button_tag id: :append, class: 'btn btn-secondary' do
              Append GTFS stops
            = button_tag id: :clear, class: 'btn btn-secondary' do
              Clear all GTFS stops
.row
  .col-md-6.col-lg-6
    = form_tag id: 'search' do
      .form-group
        %h2 Search closest stations
      .form-group
        = hidden_field_tag :latitude, 0, id: :latitude
        = hidden_field_tag :longitude, 0, id: :longitude
        = render 'widgets/googlemap', style: 'padding-top: 100%; position: relative', zoom: 6, label: 'Reference Point', lat_field: '#latitude', lng_field: '#longitude'
      .form-group.text-center
        = button_tag id: :search do
          Search top 5 closest stops
  .col-md-6.col-lg-6{style: 'padding: 10px'}
    %ul#results
- content_for? :js_footer do
  :javascript
    $(function() {
      $('#replace').click(function() {
        // TODO pick a different action and perform ajax
        // TODO instead of an actual submission.
        //
        // TODO give an alert with the status of the operation.
        return false;
      });
      $('#append').click(function() {
        // TODO pick a different action and perform ajax
        // TODO instead of an actual submission.
        //
        // TODO give an alert with the status of the operation.
        return false;
      });
      $('#clear').click(function() {
        // TODO pick a different action and perform ajax
        // TODO instead of an actual submission.
        //
        // TODO give an alert with the status of the operation.
        return false;
      });
    });